name: Build, Test and Deploy to ACR and ACI

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      - name: Setup PowerShell
        uses: microsoft/powershell@v1
        with:
          powershell-version: '7.0'

      - name: Install Pester
        shell: pwsh
        run: |
          Install-Module -Name Pester -Force -SkipPublisherCheck
          Import-Module Pester

      - name: Run Pester Tests
        shell: pwsh
        run: |
          $config = New-PesterConfiguration
          $config.Run.Path = "./tests"
          $config.Output.Verbosity = "Detailed"
          $result = Invoke-Pester -Configuration $config -PassThru
          if ($result.FailedCount -gt 0) {
            throw "Pester tests failed"
          }

      # Log in to Azure
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      # Log in to ACR
      - name: Log in to Azure Container Registry (ACR)
        run: |
          az acr login --name gazcontainerreg123

      # Build and Push Docker Image to ACR
      - name: Build & Push Image
        run: |
          docker build -t gazcontainerreg123.azurecr.io/blind_calc_1:latest .
          docker push gazcontainerreg123.azurecr.io/blind_calc_1:latest

      # Deploy Updated Image to ACI
      - name: Deploy Updated Image to ACI
        run: |
          az container delete --name blind-calc-1 --resource-group blind_calc_1 --yes || true
          az container create \
            --name blind-calc-1 \
            --resource-group blind_calc_1 \
            --image gazcontainerreg123.azurecr.io/blind_calc_1:latest \
            --dns-name-label blind-calc-1 \
            --cpu 1 --memory 1 \
            --registry-login-server gazcontainerreg123.azurecr.io \
            --registry-username ${{ secrets.ACR_USERNAME }} \
            --registry-password ${{ secrets.ACR_PASSWORD }} \
            --restart-policy Always \
            --os-typ Linux \
            --ports 80
